<div id="productsListContainer">
    <div id="productsList">
        <ng-container
        *ngFor="let product of products, 
        let i = index">
            <mat-card 
                class="productCard"
                *ngIf="colorIsChecked(product.color)">
                <mat-card-title>
                    {{product.name}}
                </mat-card-title>
                <mat-card-header>
                    <div class="imageHolder">
                        <img src="{{product.image}}" alt="Product Image">
                    </div>
                </mat-card-header>
                <mat-card-actions>
                    <div class="cardActionsContainer">
                        <div class="priceDIV">
                            Price: {{product.price}}€
                        </div>
                        <div class="addToCartDIV">
                            <button mat-stroked-button (click)="addProductToCart(product.id)">Add to Cart</button>
                        </div>
                    </div>     
                </mat-card-actions>          
            </mat-card>
        </ng-container>
    </div>  
</div>
