*{
    background-color: #ffffff;
    color: #454545
}
#container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2vh;  
}
#cartTitle{
    align-self: flex-start;
    margin-left: 10%;
    font-weight: bold;
}
mat-card{
    margin-bottom: 1vh;
    height: 8%;
    width: 80%;
    border-radius: 16px;
    box-shadow: 4px 10px 0 rgb(0 0 0 / 5%)
}
.itemCardContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.productIMG{
    height: 100%;
}
.content{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.delete{
    align-self: center;
    width: fit-content;
    height: fit-content;
}
.delete button{
    height: 50%;
    width: 50%;
    border-radius: 16px;
}
.amount{
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
}
.amountInput{
    width: 2em;
    text-align: center;
}
.image{
    height: 100%;
    align-self: center;
}
.name{
    align-self: center;
    font-size: 1.5em;
}
#emptyCart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}
.raiseAmount, .lowerAmount{
    font-size: 2em;
}
.amountDIV{
    grid-area: amount;
    display: flex;
    flex-direction: row;
}
#checkout{
    border-radius: 16px;
}
@media only screen and (max-width: 480px) {
    mat-card{
        margin-bottom: 1vh;
        height: 16%;
        width: 80%;
    }
    .itemCardContent{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content{
        height: 60%;
        width: 100%;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .amountDIV{
        width: 50%;
        height: 30%;
    }
    .image{
        height: 70%;

    }
    .delete{
        align-self: center;
        width: fit-content;
        height: fit-content;
    }
}