<div id="container">
    <div id="welcomeSection">
        <h1 id="welcome">Welcome to ColorCubes !</h1>
        <button id="showAllProductsButton" mat-stroked-button (click)="goToPage('products')">
            Show all products
        </button>
    </div>
    <h1 id="mostPopularTitle">Most popular</h1>
    <div id="mostPopularProducts">
        <mat-card 
            class="productCard"
            *ngFor="let id of mostPopular()">
            <mat-card-title>
                {{products[id-1].name}}
            </mat-card-title>
            <mat-card-header>
                <div class="imageHolder">
                    <img src="{{products[id-1].image}}" alt="Product Image">
                </div>
            </mat-card-header>
            <mat-card-actions>
                <div class="cardActionsContainer">
                    <div class="priceDIV">
                        Price: {{products[id-1].price}}€
                    </div>
                    <div class="addToCartDIV">
                        <button mat-stroked-button (click)="addProductToCart(products[id-1].id)">Add to Cart</button>
                    </div>
                </div>     
            </mat-card-actions>          
        </mat-card>
    </div>
    
</div>
