#container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome{
    text-align: center;   
    font-weight: 800;
    font-size: 3em;
    line-height: 1em;
}
#welcomePageContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcomePageContent button{
    width: fit-content;
}