<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list id="navigationSidebar">
      <a mat-list-item routerLink="" id="navigationSidebar1">Home</a>
      <a mat-list-item routerLink="products">Products</a>
      <a mat-list-item routerLink="cart">Cart</a>
    </mat-nav-list>
    <div id="filterContainer" *ngIf=" getRouterUrl() === '/products' " >
      <h2>
        Filter
      </h2>
      <div id="colorFilterContainer">
        <p id="colorFilterTitle">
          Colors to show
        </p>
        <mat-checkbox 
          *ngFor="let color of colors_available"
          (change) = "colorsToShowChanged(color)"
          [checked]="colors_to_show.includes(color)"
        >
            {{color}}
        </mat-checkbox>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="topNavbar">
      <div *ngIf="this.mobile == true"></div>
      <button
        id="toggleSidenavButton"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div id="titleDIV" routerLink=""><span id="title">ColorCubes</span></div>
      <button id="cartButton" mat-stroked-button (click)="goToPage('cart')">
        Cart
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
